<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lego Collection</title>
  <link rel="stylesheet" href="/css/main.css" />

</head>

<body tabindex="-1">
    <%- include('partials/navbar', {page: '/about'}) %>

  <div class="container mx-auto">
      <div class="hero bg-base-200 rounded-lg p-6">
          <div class="hero-content text-center ">
              <div class="max-w-md">
                  <h1 class="text-5xl font-bold">About</h1>

                 <p class="py-6">Welcome to our vibrant corner of creativity and wonder - the Lego Collection! Dive into a world where imagination knows no bounds, and every brick holds the potential for infinite adventure. Here, we celebrate the magic of LEGO, where building sets are more than just toys; they're gateways to realms of fantasy and innovation.</p>
                  <p class="pb-6">Whether you're a seasoned LEGO enthusiast or just beginning your journey, our collection offers something for everyone. From iconic sets of yesteryears to the latest releases brimming with cutting-edge design, there's no shortage of inspiration to spark your imagination and ignite your passion for building.</p>
                  <p class="pb-6">Join us as we explore the endless possibilities of LEGO creations, from towering skyscrapers to whimsical landscapes, from intricate vehicles to fantastical creatures. Let your creativity flourish, and let the bricks tell your story.</p>
              </div>
          </div>
      </div>
  </div>

  <br>

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 mt-8">
          <div class="p-4">
              <img src="https://cdn1.vectorstock.com/i/1000x1000/77/05/bearded-coder-hacker-vector-17477705.jpg" alt = "my image " class="w-full rounded-lg shadow-md">
          </div>

          <div class="p-4">
              <h2 class="text-xl font-bold mb-4">disclaimer</h2>
              <p class="text-gray-600">" this is a website of Kabir Ajmeri all the image that you see in  the image are reserved using this without disclaimer will lead to serious allegatioin and actions will be taken against you use it for fun do not make gif i repeat do not make gif of the image shhh"</p>
              <br>
              
          </div>
      </div>
  </div>
</body>

</html>